body,
main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Press Start 2P", cursive;
  line-height: 1.4;
}

body {
  font-size: 1.4em;
  transition: all 1s ease-in-out;
  position: relative;
}

main {
  display: flex;
  align-items: flex-end;
  justify-content: right;
  flex-direction: column;
  color: #afafaf;
  text-shadow: -1px -1px rgb(255, 255, 255), 2px 2px 1px rgb(44, 44, 44),
    4px 4px 1px rgb(44, 44, 44), 6px 6px 1px rgb(27, 27, 27);
  overflow-y: auto;
  text-align: right;
  padding: 1em;
}

@media only screen and (min-width: 1000px) {
  main {
    transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg) perspective(4cm)
      translateX(-25vw);
  }
}

a {
  color: gold;
  text-decoration: none;
  position: relative;
  transition: color 0.15s ease-in-out;
}

a:hover {
  color: rgb(255, 233, 111);
  top: -2px;
  text-shadow: -1px -1px rgb(255 255 255), 2px 2px 1px rgb(44 44 44),
    4px 4px 1px rgb(44 44 44), 6px 8px 1px rgb(27 27 27);
}

.rp {
  color: #ab9b9a;
}

@keyframes rainbow {
  0% {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}

h1 {
  animation: rainbow infinite 4s;
}
