@import url("styles/fonts.css");
@import url("styles/resets.css");
@import url("styles/shell.css");
@import url("styles/cube.css");
@import url("styles/logo.css");

.stage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.type1 {
  --floor: #7e7183;
  --left-wall: #bda29f;
  --right-wall: #a68684;
}

.type2 {
  --floor: #424142;
  --left-wall: #6b323c;
  --right-wall: #4d1818;
}

.type3 {
  --floor: #a8a8a8;
  --left-wall: #c9bc91;
  --right-wall: #887c55;
}

.type4 {
  --floor: #a24fc4;
  --left-wall: #9900ff;
  --right-wall: #800085;
}

.type5 {
  --floor: #ff009d;
  --left-wall: #ff48b9;
  --right-wall: #b60070;
}

.monster-text {
  color: limegreen
}

.character-text {
  color: gold
}

.boss-text {
  color: #f32e2e
}

.item-text {
  color: #ce65ff;
  font-weight: bold;
  text-decoration: none;
}

.quest-panel {
  padding: 2rem 4rem;
  color: white;
  background: linear-gradient(0deg, #585c63 0%, #313238 100%) no-repeat;

  border-radius: 0.5rem;
  border: 2px solid #313238;
  display: flex;
}

.spacer {
  height: 3rem;
}

.code-comment {
  color: #999;
  font-style: italic;
}

.code-keyword {
  color: #e96092;
}

.code-atom {
  color: #76f7bb;
}

.code-param {
  color: #9ece6a;
}